<v-container grid-list-md text-xs-center>
  <v-layout row wrap>
    <% _.forEach(pokemons, (pokemon) => { %>
      <v-flex xs3>
        <v-card width="200">
          <img src="<%= pokemon.picture %>" width="200" height="200" />
          <v-card-title primary-title class="justify-center">
            <div>
              <h3 class="headline mb-0"><a href="<%= route('pokemon.show', pokemon.id) %>"><%= pokemon.name %></a></h3>
            </div>
          </v-card-title>
        </v-card>
      </v-flex>
    <% }) %>
  </v-layout>
</v-container>
